/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        commaq: commaq {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMAQ";
            bindings = <&kp COMMA>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        periodex: periodex {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIODEX";
            bindings = <&kp PERIOD>, <&kp RS(NUMBER_1)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESCAPE     &kp Q  &kp W  &kp F  &kp P           &kp B            &kp J      &kp L            &kp U    &kp Y      &kp SEMI          &kp TAB
&kp RIGHT_ALT  &kp A  &kp R  &kp S  &kp T           &kp G            &kp M      &kp N            &kp E    &kp I      &kp O             &kp LEFT_GUI
&kp LCTRL      &kp Z  &kp X  &kp C  &kp D           &kp V            &kp K      &kp H            &commaq  &periodex  &kp SINGLE_QUOTE  &kp ENTER
                             &mo 1  &kp LEFT_SHIFT  &kp BACKSPACE    &kp SPACE  &kp RIGHT_SHIFT  &mo 2
            >;
        };

        symbols_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Symbols";
            bindings = <
&trans  &kp N0       &kp N1     &kp N2      &kp N3     &kp N4       &kp N5         &kp N6          &kp N7                &kp N8                 &kp N9           &trans
&trans  &kp SLASH    &kp ASTRK  &kp MINUS   &kp PLUS   &kp UNDER    &kp AMPERSAND  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &trans
&trans  &kp AT_SIGN  &kp HASH   &kp DOLLAR  &kp EQUAL  &kp CARET    &kp PIPE       &kp LBKT        &kp LESS_THAN         &kp GREATER_THAN       &kp RBKT         &trans
                                &trans      &trans     &trans       &trans         &trans          &trans
            >;
        };

        symbols_2 {
            display-name = "Symbols";
            bindings = <
&trans  &kp N0       &kp N1        &kp N2      &kp N3     &kp N4       &kp N5         &kp N6          &kp N7                &kp N8                 &kp N9           &trans
&trans  &kp SLASH    &kp ASTERISK  &kp MINUS   &kp PLUS   &kp UNDER    &kp AMPERSAND  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &trans
&trans  &kp AT_SIGN  &kp HASH      &kp DOLLAR  &kp EQUAL  &kp CARET    &kp PIPE       &kp LBKT        &kp LESS_THAN         &kp GREATER_THAN       &kp RBKT         &trans
                                   &trans      &trans     &trans       &trans         &trans          &trans
            >;
        };

        Fn_layer {
            bindings = <
&trans  &kp C_MUTE   &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC    &kp C_BRIGHTNESS_AUTO  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &trans
&trans  &kp PERCENT  &kp BACKSLASH      &kp TILDE        &kp GRAVE             &kp F11                 &kp F12                &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans  &kp F1       &kp F2             &kp F3           &kp F4                &kp F5                  &kp F6                 &kp F7     &kp F8     &kp F9     &kp F10    &trans
                                        &trans           &trans                &trans                  &trans                 &trans     &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Sys_condition {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
